.navbar
{
    background-color: #404eed;
    font-weight: 600;
}

.navbar-nav
{
    margin: 0 auto;    
}

.nav-link
{
    margin-left: 25px;
    transition: text-decoration 0.2s;
}

.nav-link:hover
{
    text-decoration: underline;
} 

.button 
{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 17px;
    border: none;
    font-size: 14px;
    transition: box-shadow 0.3s; 
    margin-left: 19px;
}

.button:hover
{
    color:#404eed;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
}

/* Main Section */

.section-padding-top
{
    z-index: 1;
    padding: 9rem 0;
}

.heading h1
{
    font-size: 56px;
    font-weight: 800;
}

.heading p
{
    margin-top: 1.8rem;
    line-height: 1.625;
    font-size: clamp(12px,1,5vw);
}

.main-section-images{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: #404eed;
}

.hero-image1
{
    margin-left: -1280px;
    display: block;
    top: auto;
    bottom: 0;
    left: 50%;
    position: absolute;
}

.hero-image2
{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
    margin-left: -1030px;
    z-index: 1;
}

.hero-image3
{
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
}

.line
{
    opacity: 80%;
}





















